
<div class="container">
    <h1>Koncert hozzáadása</h1>
    <span fxFlex="1 1 50%">
        <mat-card-actions>
            <form [formGroup]="concertForm" (ngSubmit)="addConcert()">
                <div>
                    <mat-form-field>
                        <mat-label for="artist">Előadó: </mat-label>
                        <input matInput type="text" formControlName="artist" />
                    </mat-form-field>
                </div>
                <div class="break"></div>
                <div formGroupName="location" class="subgroup">
                    <mat-form-field>
                        <mat-label for="city">Város: </mat-label>
                        <input matInput type="text" formControlName="city" />
                    </mat-form-field>
                
                <div class="break"></div>
                    <mat-form-field>
                        <mat-label for="place">Helyszín: </mat-label>
                        <input matInput type="text" formControlName="place" />
                    </mat-form-field>
                </div>
                <div class="break"></div>
                <div>
                    <mat-form-field>
                        <mat-label for="date">Dátum: </mat-label>
                        <input matInput type="date" formControlName="date" />
                    </mat-form-field>
                </div>
                <div class="break"></div>
                <div>
                    <mat-form-field>
                        <mat-label for="gateOpen">Kapunyitás: </mat-label>
                        <input matInput type="text" formControlName="gateOpen" />
                    </mat-form-field>
                </div>					
                <div class="break"></div>
                <div>
                    <mat-form-field>
                        <mat-label for="price">Normál ár: </mat-label>
                        <input matInput type="text" formControlName="price" />
                    </mat-form-field>
                </div>					
                <div class="break"></div>
                <div>
                    <mat-form-field>
                        <mat-label for="quantity">Hely kapacitás: </mat-label>
                        <input matInput type="number" formControlName="quantity" />
                    </mat-form-field>
                </div>
                

                <div class="break"></div>
                <div>
                    <button mat-raised-button color="primary" type="Hozzáadás">ADD</button>
                </div>
            </form>
        </mat-card-actions>
    </span>