.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }

.mat-elevation-z8 {
    overflow: hidden;
    overflow-x: auto;
    clear: both;
    width: 100%;
  }
  
table {
    min-width: rem-calc(640);
  }