/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.base-form {
    position: relative;
    max-width: 40rem;
    margin: 5rem auto;
    background: #fff;
    width: 100%;
    padding: 3rem 5rem 3rem;
    border-radius: 1px;
}
